ul li {
  list-style: none;
  cursor: pointer;
}

#selecterStream li {
  float: left;
  margin: 0 5px 0 0;
  padding: 13px;
  width: 50px;
  position: relative;
  display: flex;
}

#selecterStream li label,
#selecterStream li input {
  gap: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid var(--light-border-clor-opacity2);
  border-radius: 2px;
}

#selecterStream li input[type="radio"] {
  opacity: 0.011;
  z-index: 100;
  cursor: pointer;
}

#selecterStream li input[type="radio"]:checked + label {
  background: #6c9aff;
}

#selecterStream li label {
  cursor: pointer;
  z-index: 90;
  line-height: 1.8em;
}
