* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
#pdfModalContentmini {
  height: 100vh;
  width: 100%;
  background-color: rgba(93, 93, 93, 0.2);
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  z-index: 1000000000000000000000000000000;
}
#actualContet {
  width: 526px;
  height: 500px;
  position: relative;
}
.close {
  position: absolute;
  top: -50px;
  right: -40px;
  cursor: pointer;
  font-weight: 600;
  font-size: 40px;
  color: var(--text-color-light);
}
.modal-content {
  width: 526px;
  height: 500px;
  overflow-y: auto;
  background-color: var(--bg-white);
  scroll-behavior: smooth;
  z-index: 1000000000000000000000000000000;
}
.modal-body {
  height: 100%;
}
.modal-header {
  height: 100%;
  padding: 30px;
  font-family: arial;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  text-align: justify;
}
.downScroll {
  margin-top: 25px;
  max-height: 100px;
  width: 100%;
  border-radius: 0;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.downScroll img {
  height: 85px;
  width: 65px;
  cursor: pointer;
  filter: var(--colorInvertImage);
}
.downScroll span {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--text-color-light);
}
.modal-header h2,
.modal-header p {
  color: var(--text-color-light);
}
.paragraph {
  color: var(--text-color-light);
}
#pdfViewer {
  width: 520px;
  height: 500px;
}

#pdfModalContent {
  display: none;
}

.modal-content::-webkit-scrollbar {
  width: 6px;
}

.modal-content::-webkit-scrollbar-track {
  background-color: rgb(170, 170, 170);
}

.modal-content::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}

.modal-content::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
