* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(225, 225, 225);
    justify-content: center;
    gap: 60px;
    flex-direction: row;
}

#inputfields h1{
    color: rgb(1, 6, 6);
}

.show-password {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('path/to/visible-eye-icon.png');
    background-size: contain;
    cursor: pointer;
  }
  
  .hide-password {
    background-image: url('path/to/invisible-eye-icon.png');
  }