#home {
  background-color: aquamarine;
}
.line {
  height: 2px;
  position: absolute;
  /* width: 100%; */
  background-image: linear-gradient(from-pink-500, bg-gradient-to-r);
}

.home {
  width: 95%;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
  margin: 40px 40px;
  flex-direction: column;
}

.home .heading {
  width: 92%;
  /* background: #000; */
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.home .content {
  font-size: larger;
  width: 85%;
}

.profile {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  cursor: pointer;
  background-image: url("path/to/image.jpg");
}

.profile img {
  overflow: hidden;
  object-fit: cover;
}

.name .yname {
  font-size: x-large;
  font-weight: 500;
}
