* {
  margin: 0;
  padding: 0;
}
.shadow-lg {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.shadow {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.08),
    0px 1px 2px 0px rgba(0, 0, 0, 0.04);
}
nav {
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1000000;
  background-color: white;
}
#logo {
  width: 25%;
  padding-left: 55px;
  height: 60px;
}

#logo img {
  height: 100%;
  width: 100%;
  max-width: 200px;
  object-fit: cover;
}
#MainNav {
  display: flex;
  width: 40%;
  justify-content: space-between;
}
.navLinks {
  list-style: none;
}
.navLinks a {
  text-decoration: none;
  font-size: 17px;
  color: #1c4778;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
}
#user {
  width: 20%;
}
.login {
  display: flex;
  justify-content: flex-end;
  padding-right: 80px;
}
.login a{
  text-decoration: none !important;
}
.login button {
  padding: 5px 15px;
  letter-spacing: 1px;
  border-radius: 2px;
  font-size: 17px;
  scale: 0.9;
  border: 1px solid #1c4778;
  outline-color: #1c4778;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: white;
  transition: 0.3s !important;
}
.login button span {
  margin-top: 2px;
}
.login button:hover {
  background-color: #1c4778;
  color: white;
}

.login button:hover svg {
  fill: white;
}

.navLinks a {
  padding: 4px;
}
.navLinks {
  padding-bottom: 2px;
  margin-top: 4px;
  border-radius: 2px;
  position: relative;
  z-index: 1;
  transition: 0.4s;
  border-bottom: 3px solid transparent;
}
.navLinks:hover,
.active {
  border-bottom: 3px solid #1c4778;
}
#home {
  min-height: 100vh;
  background-color: #dae0e68f;
}
#contentDiv {
  width: 80%;
  min-height: 90vh;
  margin: auto;
  max-width: 1020px;
  display: flex;
  gap: 20px;
  padding-top: 60px;
  position: relative;
}
#dynamicContent {
  width: 70%;
  min-height: 200px;
  margin-top: 25px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
