td,
th {
  min-width: 110px;
}

.twoBtn {
  min-width: 40px;
}

textarea {
  background-color: transparent;
  resize: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 3px;
  color: var(--text-color-light);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  height: 105px;
}

.NotePostModalContent {
  height: 500px !important;
}

.NotePostModalContent #sideDivForm {
  height: 510px !important;
}

.flexButtons {
  display: flex !important;
  flex: row !important;
  gap: 5px !important;
}

.fbselectStr {
  width: 50% !important;
}

#sideDivForm form {
  width: 90%;
}

#modalContent {
  width: 500px !important;
}
