* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: "#3E4E59";
}
body {
  height: 100%;
  width: 100%;
  background-color: #f7f8fc;
}
#navigations {
  display: flex;
}
#sidenav {
  height: 100vh;
  width: 90px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.09);
  z-index: 10000;
}
#sidenav #hamburger {
  height: 80px;
  width: 40px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: start;
  cursor: pointer;
  transition: 0.5s;
}
#sidenav #hamburger .div1,
#sidenav #hamburger .div2,
#sidenav #hamburger .div3 {
  height: 5.5px;
  width: 15px;
  background-color: #3e4e59;
  border-radius: 20px;
}
#sidenav #hamburger .div2 {
  width: 25px;
}
#sidenav #hamburger .div3 {
  width: 35px;
}
#sidenav #mainham {
  height: 80px;
  position: absolute;
  margin: 0 27px;
}
#sidenav .sidnavLine {
  width: 100%;
  height: 1px;
  background-color: #dbdaff;
}
#sideNavLikes {
  margin-top: 80px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
}

#sideNavLikes li {
  list-style: none;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

#sideNavLikes li .addressTracker,
.active {
  position: absolute;
  left: 0;
  height: 50px;
  width: 5.5px;
  background-color: #5957d4;
  border-radius: 0 10px 10px 0;
  transition: 0.5s;
}
.active {
  left: 0 !important;
}

.addressTracker {
  opacity: 0;
}

.listItems:hover .addressTracker,
.active {
  opacity: 1;
}

#sideNavLikes li .addressTracker1 {
  position: absolute;
  left: 75px;
  border-radius: 0 10pxX 10px 0;
  transition: 0.5s;
}
#sideNavLikes li .addressTracker1 p {
  width: 100%;
  background-color: #38376e;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-size: 15px;
  padding: 8px;
  text-transform: capitalize;
  position: relative;
  z-index: 2;
  display: flex;
  gap: 4px;
  border-radius: 2px;
}
#sideNavLikes li .addressTracker1 p::before {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  background-color: #38376e;
  left: -6px;
  transform: rotateZ(45deg);
  z-index: -1;
  bottom: 9px;
}

.addressTracker1 {
  display: none;
}

.listItems:hover .addressTracker1 {
  display: block;
}

svg {
  fill: #2d3941;
}

#sidenav a:hover svg {
  fill: #38376e !important;
  transition: 0.3s;
}

#topnav {
  height: 80px;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;
  position: relative;
  z-index: 100;
  position: absolute;
  padding-left: 90px;
}
#topnav .grid {
  width: 20%;
  min-width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 50px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  gap: 3px;
  color: #3e4e59;
}
#searchsec {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
}
#searchsec form {
  height: 40px;
  width: 280px;
  position: relative;
}
#searchsec input {
  box-shadow: 2px 2px 4px rgba(183, 149, 255, 0.25);
  border-radius: 3px;
  z-index: 9;
  padding: 7px;
  font-size: 17px;
  outline: none;
  border: none;
  position: absolute;
  width: 280px;
  padding-right: 33px;
  padding-left: 10px;
  color: #2d3941;
}

#searchsec button {
  position: absolute;
  border: none;
  background-color: transparent;
  outline: none;
  height: 40px;
  right: 5px;
  z-index: 10;
  cursor: pointer;
}

#sideContents {
  position: absolute;
  height: 100%;
  right: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sideContents ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25%;
}
#sideContents ul li {
  list-style: none;
}
#adminContent {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  padding-top: 80px;
  padding-left: 90px;
  z-index: 10;
}
.actualContent {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentDiv {
  width: 96%;
  height: 93%;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 3px rgba(170, 167, 255, 0.17);
  padding: 10px;
}

.crossDiv2 {
  transform: rotateZ(45deg);
  width: 35px !important;
  margin-left: 10px;
  position: absolute;
  top: 40px;
  right: 5px;
}
.crossDiv3 {
  width: 35px !important;
  transform: rotateZ(135deg);
  position: absolute;
  top: 40px;
  right: 5px;
}
.listName {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-size: 17px;
  color: #38376e;
  margin-right: 5px;
  display: none;
}
.lists a {
  display: flex !important;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 6px 12px;
}
